.navbar-brand {
	font-family: 'Satisfy', cursive;
	font-size: 30px;
	text-align: center;
	padding: 0;
}

.nav-link {
	font-family: 'Lobster', cursive;
	font-size: 30px;
	text-align: center;
	padding: 0;
}

img {
	height: 100%;
	width: 100%;
	margin-top: 40px;
	padding-right: 15px;
	padding-left: 0;
	margin-left: 0;
}

h2 {
	margin-top: 10px;
	font-family: 'Rock Salt', cursive;
}

p {
	font-family: 'IM Fell English', serif;
	font-size: 20px;
	text-align: justify;
	margin-top: 40px;
}